beautifulsoup4==4.12.3
dotenv==0.9.9
duckduckgo_search==8.1.1
email_validator==2.2.0
executing==2.1.0
faiss-cpu==1.11.0.post1
fastapi==0.115.11
fastjsonschema==2.21.1
filelock==3.16.1
filetype==1.2.0
Flask==3.1.0
Flask-WTF==1.2.2
fonttools==4.55.3
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.3.2
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0rc0
google-api-python-client==2.169.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.30.2
langchain==0.3.27
langchain-anthropic==0.3.12
langchain-community==0.3.27
langchain-core==0.3.74
langchain-google-genai==2.0.10
langchain-huggingface==0.1.2
langchain-openai==0.3.29
langchain-text-splitters==0.3.9
langgraph==0.6.4
langgraph-checkpoint==2.1.1
langgraph-checkpoint-sqlite==2.0.11
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.0
langsmith==0.4.13
lxml==6.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
numpy==2.3.2
openai==1.99.8
pandas==2.3.1
rsa==4.9.1
safetensors==0.5.3
scikit-learn==1.6.0
scipy==1.15.0
seaborn==0.13.2
SQLAlchemy==2.0.43
sqlite-vec==0.1.6
sqlparse==0.5.3
starlette==0.46.0
streamlit==1.48.0
tenacity==9.1.2
terminado==0.18.1
textblob==0.19.0
threadpoolctl==3.5.0
tiktoken==0.11.0
torch==2.7.0
tqdm==4.67.1
transformers==4.51.3
